name: CI-CD to ECS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build app & Docker image
      run: |
        npm install
        npm run build
        docker build -t react-bgchanger:${{ github.sha }} .

    - name: Tag Docker image
      run: |
        docker tag react-bgchanger:${{ github.sha }} ${{ secrets.ECR_REPO }}:${{ github.sha }}

    - name: Push image to ECR
      run: |
        docker push ${{ secrets.ECR_REPO }}:${{ github.sha }}

    - name: Deploy to ECS
      run: |
        aws ecs update-service \
          --cluster ${{ secrets.ECS_CLUSTER }} \
          --service ${{ secrets.ECS_SERVICE }} \
          --force-new-deployment